.banner{
    background-image: url('../../../Images/Rectangle.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 615px;
    position: absolute;
    top: 0;
    z-index: -2;
}
.content{
    margin-top: 11rem;
    margin-left: 10rem;
    width: 500px;
}
.content h1{
    font-size: 60px;
}
.content button{
    margin-top: 30px;
    background: transparent;
    border: 1px solid #FFFFFF;
    padding: 8px 12px;
    font-weight: bold;
}
.content button:hover{
    background: #A6A7AA;
    border: 0;
    font-weight: 200;
    color: #000;
    transition:.2s;
}
