.review-container{
    height: 600px;
}
.client-area{
    width: 70%;
}
.client-text{
    width: 450px;
    margin-left: 120px;
    margin-top: 50px;
}
.client-text h3{
    color: #515769;
    font-size: 28px;
    font-weight: bold;
}
.building-img img{
    width: 600px;
    height: 350px;
}